form, input {
    margin: 0px;
}

.searchform {
    position: relative;
}

#searchbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 30px;
    margin: 0px;
    padding: 5px;
    border: 0;
    border-radius: 6px;
}

#searchbtn {
    position: absolute;
    left: 475px;
    top: 7px;
    width: 17px;
    height: 17px;
    margin: 0px;
    padding: 0px;
}